<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- Nacos配置中心启动配置 -->
    <add key="Nacos.Host" value="http://127.0.0.1:8848" />
    <add key="Nacos.Env" value="dev" />
    <add key="Nacos.DataId" value="LARAVEL" />
    <add key="Nacos.Group" value="DEFAULT_GROUP" />
    <add key="Nacos.Tenant" value="" />
  </appSettings>
</configuration>
